@media only screen and  (max-width: 1199px)
{

}

/* Screens 768px to 991px wide (phones in landscape mode, small tablets) */
@media only screen and (max-width: 991px) {
    section.in_depth img {
        float: none;
        width: 100%;
        padding: 0;
        margin: 0;
        /* max-width: none; */
    }

    section.in_depth {
        width: 100%;
    }

    section.in_depth h2, section.in_depth p {
        padding: 10px 15px;
    }

}

/* up to 767px wide (phones in portrait mode) */
@media only screen and (max-width: 767px) {
    main.home {
        grid:
            "a"
            "b";
        }
    main.home section.me {
        padding-left: 2px;
        padding-right: 2px;
    }
    main.home a.project_link {
        width: 100%;
    }
    video {
        width: 100%;
    }
}