body {
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Silkscreen', sans-serif;
    font-size: 18px;
    background-color: #283030;
    color: white;
    min-height: 100vh;
    line-height: 1.5;
    width: 100%;
    margin: 0 auto;
    max-width: 1080px;
    display: grid;
    grid:
        "h h"
        "m m"
        "f f";
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

header {
    grid-area: h;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h2 {
    color:rgb(0, 209, 174);
    font-size: 3.5em;
    /* font-family: Silkscreen, sans-serif; */
    text-align: center;
    font-weight: 400;
    /* vertical-align: center; */
    /* flex-basis: 300px; */
}

main {
    /* background-color: maroon; */
    grid-area: m;
}

main.home {
    display: grid;
    grid:
        "a a b";
}

main.project {
    margin-top: 30px;
    display: grid;
    grid:
        "a"
        "b";
}

section.me {
    grid-area: a;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

section.me img {
    max-width: 200px;
    border-radius: 100%;
    margin: 30px 0 30px 0;
}

section.info {
    grid-area: a;
    /* background-color: red; */
}

section.info p {
    padding-left: 20px;
    padding-right: 20px;
}


section.about {
    grid-area: b;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    padding: 20px;
}

aside {
    display: none;
    grid-area: s;
    /* background-color: salmon; */
}

footer {
    grid-area: f;
    /* background-color: forestgreen; */
}

nav {
    /* height: 100%; */
}

nav ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    flex-direction: row;
}

nav ul li {
    display: flex;
    margin-left: 10px;
    line-height: 1.4;
    /* vertical-align: middle; */
    align-items: center;
    justify-content: center;
}

ul li {
    list-style-type: square;
}

a {
    color: #00d1ae;
    text-decoration: none;
    transition: all 0.4s;
    transition-timing-function: steps(4, jump-end);
}
a img{
    color: rgb(0, 209, 174);
}

a:link, a:visited{
    color: rgb(0, 209, 174);
}

a:hover, a:active{
    color: rgb(7, 171, 221);
}

ion-icon {
    transition: color 0.2s;
    /* font-weight: bold; */
}

a.logo-instagram:hover,
a.logo-instagram:active {
    color: #E1306C;
}

a.mail-outline:hover,
a.mail-outline:active {
    color: #2fb3ff;
}

a.logo-github:hover,
a.logo-github:active {
    color: #171515;
}

.social-icon {
    font-size: 1.7em;
    margin-left: 10px;
}

a.btn {
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    width:fit-content;
    border: 2px solid #00d1ae;
}

a.btn_full {
    background-color: #00d1ae;
    color: #333333;
}

a.btn_ghost {
    background-color: #00000000;
    color: #00d1ae;
    border: 2px solid #00d1ae;
}

a.btn:hover {
    color: white;
    background-color: #333;
    border: 2px solid white;
    transform: scale(1.02);
}

a.btn:active {
    color: #bbb;
    border: 2px solid #bbb;
    transform: translateY(-2px);
    transform: scale(1.02);
    transition: all 0.2s;
    transition-timing-function: steps(8, jump-end);
}
/* ---------- */
/* Footer */
/* ---------- */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p {
    margin: 20px;
}