@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
.splash h1 {
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    font-size: 5em;
    color: rgb(73, 199, 111);
}

body {
    display: grid;
}

body {
    background: #fff;
    font-family: Arial;
}

nav .item {
    font-family: 'Shadows Into Light', cursive;
}