h1 {
    text-align: center;
    font-size: 5em;
    color: rgb(73, 199, 111);
}

h2 {
    text-align: center;
    font-size: 0.6em;
}

body {
    display: grid;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 100%;
  font-weight: 800;
}

body{
  background: #030321;
  font-family: Arial;
}